# Dependencies
node_modules/
venv/
env/
__pycache__/
*.pyc

# Environment Variables
.env
.env.local
.env.production
backend/.env
frontend/.env

# Build Output
dist/
build/

# IDEs
.vscode/
.idea/

# System
.DS_Store
Thumbs.db

.vercel
.env*.local
