@import "tailwindcss";

@theme {
  --color-primary: #8b5cf6;
  /* Violet-500 */
  --color-secondary: #a78bfa;
  /* Violet-400 */
  --color-accent: #7c3aed;
  /* Violet-600 */
  --font-sans: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

body {
  @apply bg-white text-gray-900 font-sans antialiased;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}